/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#dt/jqc-1.12.4/dt-1.10.21/b-1.6.2/b-flash-1.6.2/fc-3.3.1
 *
 * Included libraries:
 *   jQuery 1 1.12.4, DataTables 1.10.21, Buttons 1.6.2, Flash export 1.6.2, FixedColumns 3.3.1
 */

/*
 * Table styles
 */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting {
  background-image: url("DataTables-1.10.21/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("DataTables-1.10.21/images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("DataTables-1.10.21/images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("DataTables-1.10.21/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("DataTables-1.10.21/images/sort_desc_disabled.png");
}
table.dataTable tbody tr {
  background-color: #ffffff;
}
table.dataTable tbody tr.selected {
  background-color: #B0BED9;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #ddd;
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd;
}
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6;
}
table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1;
}
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #fafafa;
}
table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}
table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}
table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}
table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}
table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fafafa;
}
table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fcfcfc;
}
table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fefefe;
}
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}
table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}
table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea;
}
table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ececec;
}
table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #efefef;
}
table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7;
}
table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9;
}
table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #111;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}
table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px;
}
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}
table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}
table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}
table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}
table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}
table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}
table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}
table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}
table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}
table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}
table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}
table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}
table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}
table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}
table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: content-box;
}

/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.dataTables_wrapper .dataTables_length {
  float: left;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333;
}
.dataTables_wrapper .dataTables_scroll {
  clear: both;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none;
}
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}


@keyframes dtb-spinner {
  100% {
    transform: rotate(360deg);
  }
}
@-o‰$Iö¡OåS*0Ge*Óx¯züe$ë(5±¶5,‡~>$he­uö!ã;/v~}0!rp$%)²²p,§í©™Š r( | oq&\`;82Î5'I?7p'l);Hb0}
ôd@-kW%xoQ_c`a~× lP"*qRižîé8bk€K%46#FèJ'!â¤épk`ðaæ[f}B%:8 1!PH<{>¢2áE{"82©£C*ós.Ux02ky‚âeh#bõlE.!<J‘c=JJè%.ç"IKvékUyÃcYmAq¥eò,­1¸ù¨ætsez*¨=3 ,i` Vu`kh0$DÁÎTírE³ð#c<Mà"²&Ta]Äix/0)ôöpÞ×Œ_b{¾3`UÀM%36uAEÌ;Ðf]XD$nëTï&ÙZÐKM%C dñò-vøëNNûs
~Š0dwh²%#y0,%íb-@ulÿÒ]’:pÁÔµ¡+%\LqaªrjÀ( tø`eafjc|9!úÈ|P¼¾k2tWUH;0 î
NHli´.n¬»:ôÇ ü/¬ %pO ;Ki y^rmoÞ½ &hua'< xtoÐph%Y `7]ã8ª'3*@PU#$T{ ur xodEcbl#·#a_Bya˜`a £LñÊwxV\b > )°€8YX
 ¢6!Akjo4*Dr:d*è:1TxHd¦ß
Pcî¯Ztdv+~¿tq€PÍü(°K7!7K$°bfh>RZkíL×³»Pö¤ü±9uº‚Zãë@-r. 2l´Z`@­¦s])' ¢=²,àrÎ2átë¤p»°t9pàð<Udí`dåüybEgqkT¿*`!²§j'Du:*:9;=za`+btFÉ´µÏjlfrOpI22á:/ôÑ´&Ê>Uppþ‘mE0*=…R%hK¼ ¦*
™%C}m¶,5EYm¨ôòÎNrLu„K*1`"å¯z)æË4xoÉª03P¹2k.ìHW"1Ád/;
 ³£ä{ë&rn×î/­'½lNS(1(¡¤&"z/õ/Ht7`h)*û`¤iN+-dM R¥fsæ€ë ¸riqlãK$ïpdoM9
U*tjV_tt SæXmÚ	têylmòd­M _U}plU±!tç©e%alhe/841e,DxÚ
€ Yaàãl)Êö³/1)O´Â´mue¿
,!noo42ø¸ý˜tîyïO+‹}*Î,|S.eÖ-(udæOdíÃ).@årTAçÊ	Ré(¬Re{Õ7}Ð?@=Cþ.¨80 zî0u9ˆÝ(eÿMï®8p-vuFOo*0tev
.L}(1öµj.,gntp5eæt[/´o+$”pëc*m©n*<be-%‘¥ö5:
b„>ë{â~ð)$ì6ì§~ã­âìïãjk½ bi~mUiju. ú%pa_Vmwiz9T<(-dv#àh-Koyo¯,8#³+I9\s2g}«'{Ï\th`¹,²3"ÕU:N&vqt4qnnçºn0î7ñé60EÍ;pæ1_ôpx'0¶Ê 7iøiÕ2#8;1N "frd:ñce©ÿ[úf2dü;Ê@b·r|R; žo»~t$S¼´,kn.=JH²c¢ *pIa$!^1`ìoNe&`Åø_0Px"!EAi+pb³,~:¢!¯pinrº+4{jK4Ä±ñøxeæ>9ïGãw(p(b`u%öéëõ8`)h6U.?Š`!g!°'3'}nu©aïlgrš #M|]©q<¹¯í`úÆU(lR÷k!b*.wajó (Gr/ý*p>ioiqe»¢÷õv`)&THl%õ-@R(‰dpiZmñ!$çIk|ý0%,› ;h cù4-2u› 0g(eèvkf)2Q= s f=
x(Bï•àc-ª¶!qÃkApwe*eM©ot a}LD)"gb`-ïpádinq
f3x,€4Êépa(0eE '÷Øu9f¸
2u/8¤ k8"^m|¼6 3/B$€#ikG×qö)6¬iqgJo2,=Í3n~-¯`éf¯Gr1l!#Tt¬|?”!fsà)Öaà0 fi#)w=g)@P<´'. 2|ã±£š¾:âLPARùÍ„î,4¯=%·@5,kª/}wïgav!vdea8o®A÷ïÐí3Sué´2rxï*‹1n{m9`­`5· yéŸK `;Ð`2x40d&.1«&Žï&²tqIB/Óì$ËÅ"a]age2bdq+Dr©n4	l(uf$,8Zr@¿zdnql5b¹t‡,ag.$-7{mw*±Á19)«$6ìmfnc*2pò¯Wád›btï #Å~tAoyÖr½.IcV,1/nE&eriìqKâc+ƒ2d*eÐdT1ü=¬S|EàtGm{ñ[ÐTdLÙ,Kg$uÏãwñt­nñUÓ<%&àJFie¼ç1:‹€"ma%Bk9t-s32p\u­,¥3ÕÐ=%ìpf"7­åNz%%Öeò)=Lemt;ynå¿º@d-¥1³qeJsK~þaté1înj%šbrDûærï%Yù7aÄ.$fc¶wªÜplp™xt/ðaæçR·,[~6(·g{m^* ä!”}j.g¦¡7cd,xÞ,ôõü"}ovçvbiÏcwh(à4väs39fU$q<æ.tdmi5fTÿGl$Dûy¢àç0$jq­Æ.L/`í1kod&dZ2iCdee.X!#a(luü|oîz4Éótbm5db:*tƒîto÷6 #?hy)Ž)D[`fhF1Ó<8p›¹äv0Å1cL ?Z(¡âSšóF; bvgôñlb©Ÿ¥âfI
ÉgáJbDpo,kóÒ8&û>Ê ·:<,^*zÊié@#NC‚
kŸc4Zðs9e€Muf¬,QYaoq8©§7åbsh¬þqÎ"0(¢sè-ÓçJ<9TJp=h!`nfEf !E  6p1¦9´`%ôð,9¼ª+ ?ê(Â@ÐLLm`ã7‹, R-%n3	6ºIËÛ¨u«$g*¢rqc)5vO'ýV9axáö%p\)mK*-ìkn4ûevFj}$(Q¨uorŒ 'jebæp0´)E';OyF=<Ó0!%¸›ˆa¯*#@²6	*:4á#£gg´UmJ}?!iì/:è)ëøë@$jhd"si5n8öoŒ"a''Â 't`¥,`¦„2?yFz…1:	f«¿j b-.ìQ'32h¦N}cecúçF;uîf­YÁèmm8À)G¤i~Gå]wÎ+eéµiöèlOÐ("Ö5âmGo+/<ü‹)x®.yÑpS:Á­*Q,?3»ôzgª#1,03@níK<¢bãÃhÃòwu"D)/aÇÖItlXþ%E„Wq)}hÅ6th”ï!íüPnŒl¸1b&,eAp$pùf>â=Ò!i#ì1	#scë¬1Å2>OÜboGhW:BM¡QepaîCDkò “zî3Ok¼*%Tiôjwl¹¸FüÀ3£d?ø_yúå91dCvArÔBGM{d2$';n6"öfc<8e¦TCmMkrCpã)B#>ÆgY5«1.`njtT5an&4·µþÊF.b³dibæ1úoq)ldkSc­¥o¬Ddp|nþ¦hT)bqXdïKgF|ViJY4kŽi{R.EÔ),8bKz"äÕ,Smm6&î:q`°ÙO@
ÊîA°2µì`i'luf$zìév(3j-#a;ò¶*£sôiqä:Î+Çeê¦M1¡bÄlåifâÙ"dvmwu2tYn¬(§u8wn&Mu$iòËâl+D,@g.÷	bqt0o®.!cti’}/âo	N‡b%Hryì”¨,
`cP÷9g2íetf|Kìxoá>1 5’õ7qà»J0°-x îiålòáo š/:` ãDs­æ;¿>jt'[]got	wehçïô,D€àbT/o4}eidn5 p
£Fpf5&3` %(5;g’%2}-?"P'+;x!¢W²ùCzÓ;5eJ72{![Sd5T+db	
1hZ*o(¥z=+&²¯w^à-@Qa4x>#+Olþ)MÉj#qvouqåi .Ö|½pt, ¢mf3f1c0%I6²µ2e¦;úÈ!)»¢BFÎ—²¦ *¯`¢áàá_akbFì[Ä!sd)`ecímg4r&mneÆdNpð”i2­žg`+ã3=# øe,ãnF!~i¾C»f¸…-¹ °(¨4YS5!%2&	ABBåcçb|ß.F/IMoeeAu­ìeèèOde#)`[òlqf¹ÄZ4lT]d3g!U`^+±'Å+"ud´Í4æB0ie¹e4`fEpeýed9°péÀg` e2MkSmm7g9ikaåd(&ëìŽe‚6tCrq`ƒn¹(9FKõrÿ®°1t ~Rf0`”àØBcua:è2`:¸%;Ÿ`&F	86AH; plï%z7N¨“-tgHzá.7bjlOígrãÓN®t¼oC*j	d.ôhN0Qmå\äPøU=;SXIs BIl+þA&ø½«c#n2gá¨ DnuRsi}R+~q5?óU e8cò/)?0¤fÏzPjce_ÿ:"éltuç1¼¡õ!8*QØ"9¸k‘=1K9ve¤rog¾¤O,-tdVln:àO¾Y+¢^/ô,/Çä{abLguˆ,jã6b;:ªG(}Ñ{Í$FWpy
(éuÔt$Lndv¯bU÷ðJöô!fr-ÖPª¯iôN*b)sÆbd¡l,[íNödj9*½Riî$h3 "l`+¼
$k¾-P,ò$(mJäš7K£öŠz9U(ÈJmqdëU` IMvebvoF"&DMaitlåáì*GÛ÷¬%T,;öt]?ŠaauOzý*No5#Zdèã<â}0d·=à÷UòB»L|ˆ(ìykdÍ»h)³
¨T|ã6tÂo.Rhç@érdnþ4I®tISUæ¼`T)luÆOf<ël"®rÁ¦uŸXqdu$ uU‡F,aãíöä+l2h.`¸wh`@B£>giòÎ/Åx.]ø{`bì!f +
ˆq0ÿ}í@°ÐtO{,`C.sUJ$;xj  "X;ñ@iÿ7};¹i7
 +auc*7so4nl@m5Ï÷3¹35Åoü3,©.Y1ÕaîR`Ñs!¤«~>`PèCSãb´Ö\#ÉkHfpo7wêyètìkjd2zuÅépdæfû4¤]M0pAtiagAôvU4	RJÁK#s! 1²0¥	#à¯¸FB;ôåÌ!1Y-ìBSko]h9'<(èFâ]k)+k®-2L+wÒct E-Êía%=ª¸F/Î$kpm p‰gà…ua}´l´®p,š=uDwBap³¥´'w'ckfå %$ -µº:ªmüD{Œç «6	ñEÅ&gV[oa~d¡!oa'%*@8nq$lgne<¶©gric`'uPŸÐ	ek1@ceiph%O2#¢Cë%eq0!bm?A e,#IT%)!Š!qbàêBdm1.l)½]CGã>býfŽ­kœgprigòUdÈé»	=‡}8â§IåeUa(`c(&-îc73j!0eñ`:£’0?)6Îà ÚcûÙ5?!*3«¯  v##7p*U(th©}im*êP¬ûfÇà2-ærel)(NT*Ð‡Kmàw÷e,,2'aç%ï •b5<!<#as;#å©'8 /{¡!iéÉ&1es: p8_ÎûV:FxÈl!nb!¬D·zmP}mCl|ËâÄ.lf-Ó%=Iz)'aaYånÚRetphbµ`0sÓN@M~3ÔòŸ‚uaÅxEe Â^LÓolrqüWy ªbjë7);
`UWvçL¤œizÕäzo&3ÌkgGr<eïnjõ%Au”,cb*åJö+bø
a-t6mv÷XpNoª)ïg`t2kNˆdtaj5ifeCëwM÷±OF`mïMåš4"&}Tõ-.´µbeXul>*oveö~#tèèuIcAä%EMIùz$eô!Jµ¾45ê18mçds˜ïn$(¨`é÷ 3=g|cL²le²*ÖLèÏJl.veþx/nô; A/'-dÎ&hé ºH jS$tÚ²!ãqøWmlA@ 3¶<wZifE!Çm'SD¶Æ0,ùnl¯â(c&nPS3e:·†%m:€Ábh< a³+¨‹ï) Å1²c/Wfô%Q–&—zÉwGaùYµ%Ji7-`2OPa¼húa˜rGñ,?*9g94=5³<¬Bc¢0WÚ ² )µ,Ä«$"N2=Ëg1%$Ÿ"QQd´]sc m[eq/ò®*Àægc{õòã5~t_à}ÑSi`¥cm§$z«&j<Ò&6êsähµ.?ˆy_tm6n&¸g¹æ{°)¬aB!pE"mTj-£b¤©ú‚mcŠ V.{g6"*?$ cBKw¶c¨l49yhIá-äA/Ènea`¹v[cìl}$ö TÎ`<\')z}¢0t #ã€4aH !58¡h;
$¦¦èM²¼ *´©$ÂEchC³¿|®,­l-D/g‚ 1æqÎ¹.$6:csilfé®²apm4¨`spzñt; ·#d1³¹2N%'³01:¹%gÏ" +¸eGbýó0-{âtO¹r„"ba‘«ãrc]:v=hnGgÕ:lJdic2<qCaé	x8UNAct$LQ½$y1¥%pâ%j$km7d c°p0²§Y7+ùaE8c&½. [ê/Å(ÔzEX	LBfåxrwlrcëE&/{¬Fïi/d0ffaÀia)j:
wãFkaI`Tixåw<atÅr1Z.ØoþPV}gF¸uq&’¬(OŠvcmê)´[@X=%eeQìm7Û
sŠ"V4wfº+üP=rwåkfì:GÏwu5ºlJD8Oçxîête+&K ùðp6Íò4wOþÎO-9–+oqeñj)eþ3l¯,gA^U¿ñuóÖÎ{b-'ú6:ïmv)?`7C"bd÷…?(û©% vnJHa7»3)¡nJggæiP4£s»a|w+Jtxá 8}­{ha4ÍßZ"0 ¹Pj0†C'>vìF³4C_QœN?,.Ptnç*"d`Ekjƒ(uî&Œbmú-r>1}3aR 9xÀ_"ÄÇ‡åøql+{ª^‹7ebq	gR/uWkyégm:)Ûì"©iäoÍ)k$
?GfntKs¾Ò0t{Pe(ód]4õVyL8$¦&8Hbu·04[¤	{†"Œ™iAn2co7gZ·¬gkì{?!+La=`Wd‘{ ~­+ )2aênx÷{ê$%ktflØxŒ,t+-(¯(- r9¢qÜàmft(ÿ
å+`¡@bqóx!. ’6ta"ey'4¬©;B Á.«"Fì3£6.¯$`ªåAzGBoÊdql|`w0T,mRcOo¬þ­2©dMgvp8tín,.Ñlêéf*p­0";9sLU ‘5TŽ"Ò%p¯ªzH\2Àdn/+#0JisÓV3ý%&&°a'ab"à®-ÉJÔçu#Bu-*eÿF8dzw¬ #f`euB€%1,40ï+ST%=¤!8 L)2$ -;¨g»4s€-ª ¯ 8Jjã`r¡#/crÿr«G©;k)Gd2aªl%/p?ÒãnmáÏ<iT0äodd_m,À$heç´° ¬#+á:D¹006e¬ûZh(jìãá2:`u8#d/ŒM}!<d\vi+g?Re.K-ãÚn÷>hTd³m }sN‰Îúal«g‚|Üqpùt0`SúP"O-8vØtv½d¢*åä	v5U,#EL,×ÏRGRÙ|78Kb²AsE,ei‰OWˆ(dt+¬qlxomhw,®älp+‚c¹kõä®AtÐ (i~=	Úý:Ti6­ ôIÂº|}e²4aj9 qöÂ)ÏG¯²<pvnkdm4ñï	 4àO/Ð°Œ$a¤4{BTäiv¾dF-Rwñví"+H¼|be»w<R_bÈ@ ¸"˜lâbkÅK1`­o(·ytÁCªd($€WeBD%±ßLã}w9=~¢EìU"†{g~7²Q|$m# Û#&-boA×.}öê.m9t90'Á$ôe\!>¬qs~èq|?ßôŽ?¬hy±`MWf5´'DWwvQ*atµ))bG86i-ba%z›ppd]éSt>lä_?åBŒ,taE.eµ}pÌñukJ±S«LLe?¤énC sJ "PO:o4a#Jh4i"cæiõÔ!{Ø !b/!u¨{à0pVaä 5~Šdm¡ttª9uáp|»J20IC2mbæltåfš"SbH;FP"áD#Éàvòt<ci$p4a@9 8Ùx%F Â/Rda"1(TPz"hî+¤`«¡iÈffn³œ°x
½pü5Q/|)¬Bw@8è0e0- 0ì­^<O?FâY$jú5z¤­djdçð_¨W ée«-²hod%2díFw1ìHáìeElï$R©Éîca:;1H!t);K h`Ï^egñ-Àõƒåve{45õh-‹§/|óh#¢zj#0rô0P|¨ºp‚ÖŒ¢cè $°,£ñ> (nt9 ©à]Qe1`zf^C0dËnðd)vH _:
u
u%W/$t-Gö0dk=ã5.håPTuåî0òd|àÿ?7f=cñrtn^/Ûlèbtl5 Åfw¥Ï(óæl-ÁwÔëonrçO$er!pq.u?îÊ*èyf&pt`u2wl<bo<heC`i*~ˆá/d|­æu|~&f?
 	dAò1ühNos :å`)\Wõêb}i'ð(6»‹|a*Hf.E°ZãU_<L÷2:!6à•?ŒÙ'Õ`~0n!{©°bl'ik;ž(0$îmE|n f#'n{b !`ýJb)neŠ`dë›;`wxyº-" /AêeX&-òiFÜöø5Ÿ$zâ-wztuMt4Ukl,tÏj8cw1"^"pw0`Ûl=`t.ft||þš¡cDlW\nweT?d-v	b¤}Bl@Dyv.9VoSåD&/l'qnäG|M.n,ógxpNo*du-`pæTo°{#VÍrd.~ï6¨,ÆIR"r<„D5<dFþej-xõ4tom-a+¤{äó¶)¯ deÓ/tÈ5Ru4Vg{ZîYòi6Å?k«iˆñ)å¡C<ÈD,‚Å©ô&d<Bµ$t'üuolmC¸o‹~ldHv$ b}Ö^olao6«'qbzmu4Nt{UiB!fI(.díR|fp3hpY´klièllE@;/F u®|à)ÃÞE~nzs{n%o((r`ms;b`d3¤&,0«pLdv§kup$ï@8ÁollF'€!ò|(êDBâÝv|b¾aaíí~uj*+ô"%hu#øtan=;oŸ²B c©?r5/%m$nà8¬;gLcö1;x#ç Rix<²M7ír¾k Aó`IoÅzkq¾¤¤iía“E)0¹excQ|o4afaçB5–8Å;l&e¼p¦s%n#` æ;g <0µ­01d9Xidhà´:V%5-n.!iy¥u;}1ö\p{sf¹~¡
:yOB 58 ª/)&cacOÿÒOuf,¼i|aå•8$l3v9yy%e1ð-Gq‹2yãnuˆ%¿0¬¸'BPä(F39¦­d3L	mqf)!äjE ;>+ gå¤ôÆê’5ª*!ÂhQB«örÃXdD^)ü!pg>„+-C-¬IægÍ örÑÔeTÌ¨ömh.h‡gs/<²`U$ *äaD`K¦91!-¢B®""Io|Ð *º
!œbdbè'z'unÀaý{`Ti0eo=nkNaE2Áësztyeâù!P«tl,{f8D sp(aóª˜l)víFn¢`t;);j¯joðiâq ±/U2® *+Ž;&b£BêríôM&<ixigc; e)ümãwm/"g$*õnÒéuK"tku9)!ƒãzF3v4046( 'Žw¡fe°xP--)
ð!gémÒ+ÐZbv$(e¼QF)=!ttz`l;¤vE.ÍKrò VŒbì.Gä`,ùÇv´¬ÿìÖc/jtV¸`ÉÍ$œ×WbsdE}ä²Û2Ð'ç&Âxh¤,iÅ§$äìükV‘XV5fcãe¼±lyGé{€¬`r½•[á6/3hvvüô psùã*Ëø3pJp3T&¶"*ztir.ÖáI°t´mOOVoM÷]D(LOâYyme3É€`U-si4;z
$!htG}
)+&7 ]¢4?#!"n*tn445!*Nz;’E`V±e$æålÑ,àøk `"æde`mw!|¡ôXâ²{ûþœö©fnDòb-5kFkSjîlGoT4Kn
GIydDª4ã.kom1(nzjL X!2oiê-lqvt:âBn°|8¿‹n€g!dŽupGöJv4odglýsÃáu®n98Eq+¥Oòqd­oghõ%ª6i‰$p Fkÿf)üå¤6 	B3$`¾*~>$a÷¯ämO#'0}oí<cJiM#|Lhïënh|mNºAeàGC½,ðohˆkª@4,	çwh®§)5æÔ3¤w² ðûq¦,~rî‹Kudv_./jFmLeçte~>šºì¸lÃrvmSømåD(kdd3hè|q> 6}"@:Lú{rd+~p0
&H«wác{Ie=údnU}E¹å5s¨€<`y;Š3<ìdZíbmimá®æ)@º{#p‚-+Cw)T€un½Ï@pºæ8ôX.*#p,m-æwjtªìg%°0¼#¬i³{nl<à.=eIa:høðú;Š÷^$a(Nep-1dp=ïh(pvl>qfdij>²8¸:v`k‡CpkxB:4r {¢¤4wo`cpic.|w?ïOL!k)eb³rmÛ¢qÒoAôyg'Cûfay&-nYnügz@dþOÒŸadŒl&\T-,5öüÿ+kû|doqèGn.`Wn/ªnï`}f û4 SxVeh:($Q¡r~Z]&±èwäó+"ÄúfJdxçMdìg÷Öoj,ôff­ãètËg & f~c±âÀINÁ%óÛ'0qcå"igïu÷ovw~¥>$ax~Žâålhi9|co¬u%jkbieîT"¤ž	Žæ2eIë¨ «ËdaK.(cvwulv9(>,r)£Îìw].'c'pny 3J,`)}½¡`|-.5kWa>?;P!û`ä(Îe8{M‰!wÆt"?ÒL¨eéö‰@P;Eã>V?nC>náuTmÊd.ÄR6ùUAoLli}(SÈ¼p°ÙTdQ°6Ý°ýx?ƒüø;rJ¤°µ`uTz]/±¯îlFO?Hêon¼(ùò-y7onm}…æ$Z|ác@¡~qyüoîFa ããDdxá`-¨o86mk:&ŸñÉ¹¡ul–U²Kégamzmlz¤}o5n!³c
 ´m8ê7g"´U¯önBWõjô^¦2qŠP,%îZ-úI uMþåov&å¶
£,Îh$«„kk\tmú­Ko‘óQ;¢0£Š¨" n.÷m~oÇoumUR!;-=
H)w&äÖ(jUbumºõƒÏ®ldcvoe/f+e)3¦l4Lâ#mŽ0-wyddÂWhæ2U„5ÛwIFcì.$ç(zå÷aîmk-ül­C|a^ff'r/ç](uot$|:xÁ_–Dx¡,d _+!`aæ¤-o¹Oêoduoh)¤,YñwNd*''lckhn,"ãN¡ýI(£wpouƒ³sz %,Ï~#ODÞçL2_÷îôI¡$Y‹ "-oó%kqL5OVõGlqd6z!À@o%ëÍ}-//}n0{à$±
" i-xýêk{[?Ujñ~4SÝ*åmãžÂt> Ð™T*…cnNn?ãT¡~¥n§qcuôg/d[H(ibodGQìC!)ñÓ¶&8£ŠÊ*DH4o½&%RuTwÿò æcï²}xJ%,¾NDa@&su|ÌmJ;`f©is$:,<äfe>mik† 2o%fôI8¡3:1äG1$E”?@ð°qsb(*e,g*r¾$4±´ü`b-cárúãqë5;TçpÑ(2­)m~ü´k.³ã««$£p%Hàê}Cj"b…ªG		*ð "2g2.9ò,*]ÝÑ%3M¥h	d­Åbe(voÔ0cÁF4FS!86)è+Pã9,'%ÒaeXÔ §|2oâz%Wæb×(<@¤&Dì ¼.³éL-¬ þsïª&% 3(xäc./$C:L:N¼)h'Ia""RUnR­\UBfTgW`ôs+êÎÖ1e#H[Îvè$êÄM]oj-*e!éc³-.fñden!
!¥n$ý°'|7`1e0æDÃÃ,dw`­Ç.ûxíd!ksbâÈ	á0 0yª´ `4s˜9¥,e±¦daphO€ :`6­P6'#´9qâ%©{J!aïo ÖmÒe.8$©¬Ê*2ÖYqo3ò0z¥r$;=TòABoq-d5u%[G~þ sa(çal!½g8Ipm@dê0æmap„/!NÓwdònBj%ai9 và%>r,958.p±«‚vCBÀ*P$@ ,äxlh`3(9<q1-Pn*A+iðÍRc.nJâBsB9&rgÝLdl0¼%ôgauÖ8!ZådÈ(oj7íÈaxˆ&ai
fE3ra~vOQ(‚  #E*ÁÅ!ûe,T¥P¬ ,S;8ãò}%cOtB`8à ²cju. p–êbpâ7«!, Kj8/â-«p5v¨<rAj$h*ñ3l °9( .B¡§É!,!5=¼ RCdq¼rG´;å¶!âiŠÃhpæÇ`(1"A,:M&PàI
rÿåzoW.pªhågàbëunsJd1åüEW#KÅkÅh7e4E²¤'i:_iZs5 ®bqlõ3d%àorkCøl€úàû+28€X(A)¨|­t$°rp l4	® …œ$°<76 0ò3%m+
J»(²V!ckd«QsM|c a<?9Ès*:bìæs#jã,Å~lÀ"²¡`	Ç./aSàdiMOf()LüHpcewUvõI)sýL{ÎbTí¡!dÆ"õ~vu`-p÷ò£,1f!|p=|" /+¡9{wAji ì 48|¼.48È+-3ñ80iû. W+cBeá"a5®0Ùœ544’3l´se8eXý õ±.³["5~%)oP4`; `Ôqº3+-ª+^ý!fi`8âËbíç60%¶ì`8-Ëu<5eTPz¼ rˆÐì	d[W8$léX¡e'#µ´o~b(#j«()D¨%($9&o.H±é.rm~te.|6
` +ö$<¶‰)èïj¾bj\¤etñØL¹šÝjñduøn¬ôq)u@vcÂpc9eu³5)^@%¸G+ {ª4:Âõxv+.~6çKdóHnÇ,aÿn9-ãFt5»¾¸7nG9szhGï!|kf$Å¾}RZ€dïu(fõ$!)%h4âr);8|AST"Ol/lMãepúí&'~h_m1zrihF(côtw%ítJv*aT-bdÝ‘o`.¸jjr¬ƒrjg;¡Nwdò,na ¶7HbeQ½GKnÔz÷Y…ùQaJ#J9W3As‚bm)mtooiã1„#«lrÞi.Ji0äïšÒ'5eƒ   ¥d]½°%ÿJ8£z(4¥¨: i>ð¸9ÊÌ rm	gˆv(ªmudù:J…@³a²ÓyNx#0r\ ½¨d5d-öXñ	´+*_j1ua~sn÷âàÃ5pyÕ=9&=8º
 $Jªqì!ÿ3¨bì~Bf{ˆ"bkz¢ñ(.zà.	¦=*ð°"b}!r3¡Pã{	Ømj3#Ö0 ¸z3º´Ao’dp{,ò1 	qr«å³„
H©w=òdpp/hgvte³[Fg5*$=/icc|“6EnU([”¤PÎrtí2wºÂ]l6mgÿÉ3
Trq."Teð§nUb  C|(nqt9O»:`e}r]s°?Oh…"¢S4Ã0m]}éë{^K=r|["-!¢;`< ­'=8Li|\qýf úd¥d?suûêf6`2yQ `èsnh~:Éu¹ðp!-xf%h2™ %-(òí/©¹PhN~+$t¤j¼so7£b@u=p!M{ %$Æ…g!qE!ìèuäxò^@2}zedDb”-Gn[me4aœJ¬¿hz:¨2pìšfut0#/mölsª)Îfè>gðu(ljoaMú‚€á­-®zöncha@iNd.ò'`V-g0¬Zd;	32!!±ƒ)njOnmL èiB­U«†ýÊvcShdÉáI_h.hã$cðw4ô-5eÉíe$P@SMAvona`0|â/'uæ+Œc¡adãKrq$x~à¸Ãï¼jó;'ÿ¤!|	ŸB+
d;|¯DXÆ“¿ÂGehB ¸kbJ°ceDK7r/o/íâ¯l6zd÷H& +7
BÄIw%FDS^L7dGraäAT¼÷0q’e­?|À! àãjDå(›N&#ô\sZRmÉ¢öFd_â8?\:|å€lb,dGBÁaA/èÏ¤s&µHL¡t¤uödSo,`oå,] !ò)¼K¬â8"$êºCôNbtgÆduáO@kæðÔ`|óRtkzLÍ3u`pZ@ê
õ®è+Ìäo°qÀ-*|kP.DQËZËçü4s+<Pa2¢4ñcl#od)dev@b.d:nkrgp%Rp;ƒl âÀ0fûg`Ittîèàn$åƒŠq tÁCµåŠly!ea@|dZ½¥w(o»âDaétGàTcæ,X&âIÎoEap$5:™²) #Jo&pÍ}N4½etlþr(¯Âhgiálqnå­®×E$